SignalR-Hub/.vs/SignalR-Hub/v15/Server/sqlite3/storage.ide-wal
SignalR-Hub/.vs/SignalR-Hub/v15/.suo
SignalR-Hub/.vs/SignalR-Hub/v15/Server/sqlite3/db.lock
SignalR-Hub/.vs/SignalR-Hub/v15/Server/sqlite3/storage.ide
SignalR-Hub/.vs/SignalR-Hub/v15/Server/sqlite3/storage.ide-shm
SignalR-Hub/SignalR-Hub/obj/Debug/netcoreapp2.0/SignalR-Hub.csproj.CoreCompileInputs.cache
SignalR-Hub/SignalR-Hub/obj/Debug/netcoreapp2.0/SignalR-Hub.AssemblyInfoInputs.cache
